html {
    font-family: "Avenir Next", Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    max-width: 500px;
    margin: 0 auto;
}

input {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 500px;
    height: 20px;
    font-size: 24px;
    border: 0;
    border: 1px solid;
}

input:focus {
    outline: none;
}

li {
    text-align-last: left;
    font-size: 24px;
    list-style: none;
    margin: 0;
}

footer {
    border: outset;
    position: fixed;
    bottom: 0;
    left: 0;
}