/* MENU ANIMATIONS */

.menu {
    color: #e9831c;
    font: bold 12px/18px sans-serif;
    text-align: center;
    display: inline;
    margin: 0% auto;
    padding: 0%;
    list-style: none;
    text-decoration: none;
}

.menu li {
    color: #000;
    background-color: rgba(233,177,103,0.5);
    display: inline-block;
    margin: 0% auto;
    position: relative;
    padding: 15px 4%;
    border: 1px solid rgb(233,177,103);
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.5);
    border-radius: 6px;
    cursor: pointer;
    transition-property: background;
    transition-duration: 0.4s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
}

.menu li:hover {
    color: #e9831c;
    background-color: rgba(100,65,0,0.3);
}

/* GALLERY STYLES */

.photo {
    position: relative;
    line-height: 0;
    margin-bottom: 2em;
    overflow: hidden;
    border-radius: 8px;
    padding: 1px;
    border: 1px solid #021a40;
    background-color: #e9831c;
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.7);
}

.photo-container {
    text-align: center;
    margin: 15px auto;
    width: 300px;
    height: 169px;
}

.photo-container img {
    max-width: 100%;
    width: 300px;
    height: 169px;
}

.photo-overlay {
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}

.click-me {
    color: #c9bdaa;
    margin-top: 5%;
}

/* GALLERY ANIMATIONS */

.photo-overlay {
    opacity: 0;
    transition: opacity .5s;
    border-radius: 10px;
    cursor: pointer;
}

.photo-overlay:hover {
    opacity: 1;
}

.photo img {
    transition: transform .5s;
    transform-origin: 50% 50%;
}

.photo:hover img {
    transform: scale(1.1);
}